{{#extends 'base'}}

{{#block 'content'}}
<h1>Create New Product</h1>
<form method="POST">
    {{{form}}}
    <input type="submit" value="Add Poster" class="btn btn-warning mt-3"/>
</form>
{{/block}}

{{/extends}}